.map-page {
  display: flex;
  flex-direction: column;

  gap: 32px;

  padding: 32px 15%;

  .map {
    width: 100%;
    height: 450px;

    background-color: #282c34;
  }
}

@media screen and (max-width: 992px) {
  .map-page {
    padding-right: 16px;
    padding-left: 16px;
  }
}
