body {
  background-color: #fffafaff; //#e2e2e2;
  min-height: 100vh;
}

.header {
  display: flex;

  padding-left: 15%;
  padding-right: 15%;

  h1 {
    margin-top: 16px;
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
    color: black;
  }

  nav {
    margin-left: auto;

    ul {
      margin-top: 20px;
      margin-bottom: 0;

      font-size: 20px;

      display: flex;
      list-style: none;
      gap: 8px;

      li {
        cursor: pointer;
      }

      li:hover {
        text-decoration: underline;
      }

      li .active {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .header {
    padding-right: 16px;
    padding-left: 16px;
  }
}
