.starred-city {
  display: flex;

  font-family: inherit;

  align-items: center;

  border-radius: 4px;
  border: 1px solid #fcdbea;

  padding: 4px 8px 4px 8px;

  height: 24px;
  width: fit-content;

  transition: all .3s ease;

  cursor: pointer;

  h3 {
    font-weight: normal;
  }

  button {
    border: none;
    cursor: pointer;
    background-color: inherit;//rgb(255, 225, 225);//rgba(255, 225, 225, 0.37);
    font-family: inherit;

    transition: all .3s ease;
  }

  .remove {
    border-radius: 16px;
    border-width: 1px;
    border-style: none;
    border-color: #FFFAFAFF;//rgba(255, 225, 225, 0.33);//#505050;
    width: 21px;
    height: 21px;

    img {
      width: 12px;
      height: 12px;
    }
  }
}
.starred-city:hover {
  border: 1px solid #FFF0F5FF;//#ffffff;
  box-shadow: 0 0 10px 1px rgba(180, 0, 85, 0.15);//rgba(0, 0, 0, 0.15);
  background-color: #FFF0F5FF;//rgba(255, 225, 225, 0.33);//#E2E2E2;

  button {
    background-color: inherit;//snow;//#E2E2E2;
  }

  .remove {
    border-style: solid;
  }
}